# LPA x Dataset Crosstab

This notebook produces a crosstab showing LPAs and the count of entitiyesd in each dataset

||entity|dataset1|dataset2||
|Fuchester County| 1| 0|

In [106]:
source_file = "/mnt/c/Users/MarkSmith/Downloads/entity_2023_09_12.sqlite3"
dest_file=  "/mnt/c/Users/MarkSmith/Downloads/entity_2023_09_12_crosstab.csv"

In [107]:
import sqlite3
import pandas as pd

# Create the connection
cnx = sqlite3.connect(source_file)

cursor = cnx.cursor()

cnx.execute("CREATE INDEX if not exists idx_entity ON entity(dataset)") 
cnx.execute("CREATE INDEX if not exists idx_organisation_entity ON entity(organisation_entity)")

In [108]:
lpas = pd.read_sql_query("SELECT entity, naME, REFERENCE FROM Entity where dataset = 'local-authority'", cnx)
lpas['entity'] = lpas['entity'].astype(str)

grouped = pd.read_sql_query(F"SELECT organisation_entity as entity, dataset, count(entity) as count FROM Entity group by 1,2", cnx)

summed = pd.read_sql_query(F"SELECT organisation_entity as entity, count(entity) as count FROM Entity group by 1", cnx)

In [109]:
lpas

      entity                            name   reference
0         26           Adur District Council         ADU
1         27       Allerdale Borough Council         ALL
2         28    Amber Valley Borough Council         AMB
3         29           Arun District Council         ARU
4         30         Ashford Borough Council         ASF
..       ...                             ...         ...
371   501909    West Northamtonshire Council        WNUA
372  8700000             Avon County Council    Q4829191
373  8700001       Wansbeck District Council  Q105544736
374  8700002  North Northamptonshire Council  Q111232446
375  8700003   West Northamptonshire Council  Q111232469

[376 rows x 3 columns]

In [110]:
grouped

     entity                           dataset  count
0                             brownfield-land    650
1                             brownfield-site      9
2                     central-activities-zone      8
3                               document-type      7
4                    local-planning-authority      3
...     ...                               ...    ...
1048     97  infrastructure-funding-statement      1
1049     98                   brownfield-land     43
1050     98  infrastructure-funding-statement      1
1051     99                   brownfield-land     35
1052     99  infrastructure-funding-statement      1

[1053 rows x 3 columns]

In [111]:
pivot = grouped.pivot(index = 'entity', columns='dataset', values='count')

pivot

#pivot['entity'] = pivot['entity'].astype(int)

dataset,ancient-woodland,ancient-woodland-status,area-of-outstanding-natural-beauty,article-4-direction,article-4-direction-area,article-4-direction-rule,battlefield,brownfield-land,brownfield-site,building-preservation-notice,...,site-category,site-of-special-scientific-interest,special-area-of-conservation,special-protection-area,tree,tree-preservation-order,tree-preservation-zone,waste-authority,world-heritage-site,world-heritage-site-buffer-zone
entity,,,,,,,,,,,,,,,,,,,,,
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,650.0,9.0,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,79.0,41.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,545.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
result = pd.merge(lpas, pivot, on= 'entity',  how = "inner")

In [114]:
result.to_csv(dest_file)

result

,entity,name,reference,ancient-woodland,ancient-woodland-status,area-of-outstanding-natural-beauty,article-4-direction,article-4-direction-area,article-4-direction-rule,battlefield,...,site-category,site-of-special-scientific-interest,special-area-of-conservation,special-protection-area,tree,tree-preservation-order,tree-preservation-zone,waste-authority,world-heritage-site,world-heritage-site-buffer-zone
0,26,Adur District Council,ADU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,27,Allerdale Borough Council,ALL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28,Amber Valley Borough Council,AMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29,Arun District Council,ARU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30,Ashford Borough Council,ASF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,390,Wychavon District Council,WYC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344,392,Wyre Forest District Council,WYE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
345,393,Wycombe District Council,WYO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,394,Wyre Borough Council,WYR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,395,City of York Council,YOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN